


<!DOCTYPE html>
<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dheeraj Gajula - Portfolio</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
  

  <body>
    <header>
        <div class="container">
            <h1>Dheeraj Gajula</h1>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about" class="section">
        <div class="container">
            <h2>About Me</h2>
            <p>
              
              <br>machine learning and backend developer <br>
              <br> I do studpid stuff to my phone and laptop <br>
              <br> computer science student at Dayanada sagar college of engineering, Bangalore <br>
              <br>this is for testing <br>

                
                
            </p>
        </div>
    </section>

    <section id="portfolio" class="section">
        <div class="container">
            <h2>Resume</h2>

            <section id="education" >
            <h3>Education</h3>
            <ul>
              <li>B.E in computer science and engineering (8.7 CGPA) - DSCE class of 2024 </li>
            </ul>

            <section id="skills">

              <h3>SKILLS</h3>
            <ul>
                <li>Machine learning - TensorFlow, PyTorch, SkLearn, OpenCV, NLP, Hugging face</li>
                <li>Backend / DataBase - Flask, FastAPI, Firebase, MongoDB</li>
                <li>Tools - Git, GitHub, Linux, Postman</li>
                <li>Programming Languages - Python, Java, c/c++, Dart</li>
            </ul>
            </section>

            <section id="projects" >
              


            </section>

          </section>


        </div>
    </section>

    <section id="contact" class="section">
        <div class="container">
            <h2>Contact</h2>
            <p>
                Feel free to reach out to me at:
                <br>
                Email: your.email@example.com
                <br>
                Phone: (123) 456-7890
            </p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Your Name. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>