


<!DOCTYPE html>
<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dheeraj Gajula - Portfolio</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
  

  <body>
    <header>
        <div class="container">
            <h1>Dheeraj Gajula</h1>
            <nav>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about" class="section">
        <div class="container">
            <h2>About Me</h2>
            <p>
              
              <br>machine learning and backend developer <br>
              <br> I do studpid stuff to my phone and laptop <br>
              <br> computer science student at Dayanada sagar college of engineering, Bangalore <br>
              <br>this is for testing <br>

                
                
            </p>
        </div>
    </section>


    <object data="{{ url_for('static', filename='asserts/resume.pdf')}}" type="application/pdf"
      style="min-height: 400px; width: 400px;"></object>

    <section id="portfolio" class="section">
        <div class="container">
            <h2>Resume</h2>

            <section id="education" >
            <h3>Education</h3>
            <ul>
              <li>B.E in computer science and engineering (8.7 CGPA) - DSCE class of 2024 </li>
            </ul>

            <section id="skills">

              <h3>Skills</h3>
            <ul>
                <li>Machine learning - TensorFlow, PyTorch, SkLearn, OpenCV, NLP, Hugging face</li>
                <li>Backend / DataBase - Flask, FastAPI, Firebase, MongoDB</li>
                <li>Tools - Git, GitHub, Linux, Postman</li>
                <li>Programming Languages - Python, Java, c/c++, Dart</li>
            </ul>
            </section>

            <section id="experience" >
              <h3>Professional experience</h3>
              <ul>
                <li>Artificial Intelligence Intern - <a href="https://www.linkedin.com/company/project-niramaya/"> Project-Nirmaya</a>  (04/2023 - 08/2023)
                     <ul>
                      <li>
                        A startup funded by IIT bilahi
                      </li>
                      <li>developed various algorithms like personal-based classification, SMS classifier etc to get 
                        <br>
                        credit worthiness of the user
                      </li>
                     </ul>
                  </li>

                  <li> Software Engineer intern- <a href="https://nslhub.com/"> Brane enterprises (NSL hub) </a>  (06/2022 - 12/2022)
                  <ul>
                    <li>


                    </li>
                  </ul>
                  
                  </li>
                  
              </ul>



            </section>

          </section>


        </div>
    </section>

    <section id="contact" class="section">
        <div class="container">
            <h2>Contact</h2>
            <p>
                Feel free to reach out to me at:
                <br>
                Email: your.email@example.com
                <br>
                Phone: (123) 456-7890
            </p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2023 Your Name. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>