


<!DOCTYPE html>
<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dheeraj Gajula - Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

	</head>
  

  <body>
    <header>
        <div class="container">
            <h1>Dheeraj Gajula</h1>
            <nav>
                <ul style="padding: 10px; ">
                    <a href="linkedin.com"><i class="fa fa-linkedin" style="color: aliceblue;"></i></a>
                    <a href="github.com"><i class="fa fa-github" style="margin-left: 10px;"></i></a>
                    <a href="dheerajgajula2202@gmail.com"><i class="fa fa-envelope" style="margin-left: 10px;"></i></a>
                </ul>
            </nav>
        </div>
    </header>

    <section id="about" class="section">
        <div class="container">
            <h2>About Me</h2>
            <p>
              
              <br>machine learning and backend developer <br>
              <br> I do stupid stuff to my phone and laptop <br>
              <br> computer science student at Dayanada sagar college of engineering, Bangalore <br>
              <br>this is for testing <br>

                
                
            </p>
        </div>


        
    </section>


    <center>
      <object data="{{ url_for('static', filename='asserts/resume.pdf')}}" type="application/pdf" class="section"
      style="height: 1150px; width: 800px; text-align: justify; align-content:center; display: flex;"></object>

    </center>


    

    <!-- <section id="portfolio" class="section">
        <div class="container">
            <h2>Resume</h2>

            <section id="education" >
            <h3>Education</h3>
            <ul>
              <li>B.E in computer science and engineering (8.7 CGPA) - DSCE class of 2024 </li>
            </ul>

            <section id="skills">

              <h3>Skills</h3>
            <ul>
                <li>Machine learning - TensorFlow, PyTorch, SkLearn, OpenCV, NLP, Hugging face</li>
                <li>Backend / DataBase - Flask, FastAPI, Firebase, MongoDB</li>
                <li>Tools - Git, GitHub, Linux, Postman</li>
                <li>Programming Languages - Python, Java, c/c++, Dart</li>
            </ul>
            </section>

            <section id="experience" >
              <h3>Professional experience</h3>
              <ul>
                <li>Artificial Intelligence Intern - <a href="https://www.linkedin.com/company/project-niramaya/"> Project-Nirmaya</a>  (04/2023 - 08/2023)
                     <ul>
                      <li>
                        A startup funded by IIT bilahi
                      </li>
                      <li>developed various algorithms like personal-based classification, SMS classifier etc to get 
                        <br>
                        credit worthiness of the user
                      </li>
                     </ul>
                  </li>

                  <li> Software Engineer intern- <a href="https://nslhub.com/"> Brane enterprises (NSL hub) </a>  (06/2022 - 12/2022)
                  <ul>
                    <li>


                    </li>
                  </ul>
                  
                  </li>
                  
              </ul>



            </section>

          </section>


        </div>
    </section> -->




    <footer>

      <!-- <span style="margin-left: 20px; padding: 0px;">
      <h3 style="margin-left: 50px ;">reach out to me </h3>
    </span>
    <span style="margin-left: 20px; padding: 0px;">
      <a href="dheerajgajula2202@gmail.com" style="color: chartreuse;">dheerajgajula2202@gmail.com</a>
    </span>
      <br> -->

      <div>
        <span>
          reach out , My email : <a style="color:chartreuse;" href="dheerajgajula2202@gmail.com">dheerajgajula2202@gmail.com</a>
        </span>
      </div>

      <br>
      

      


      <form action="/submit" method="post" style="margin-left: 50px;">

        <span>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </span>

      <span>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" size="40">
      </span>

      <br>
      <br>


      <div>
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="40" rows="2"></textarea>

        <span>
          <button type="submit" style="width: 50px;" >Submit</button>
    
        </span>
      </div>
      
     


      </form>

        
    </footer>
</body>
</html>